:root {
	background: black;
	font-family: sans-serif;
	height: 100%;
}

:root:before {
	background: url(https://drive.google.com/u/0/drive-viewer/AKGpihY95BkEIELJAz4dGrGxiqvkOAAhgQ9Kgzv6vtSqzTTluCCNDXURRlG4_s36WwUAddrIKZ9ypKMH2ofyLxJGdWow8SuMlTn94n4=s1600-rw-v1?auditContext=forDisplay)
		no-repeat center center/cover;
	bottom: 0;
	content: "";
	left: 0;
	opacity: 0.75;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

img {
	display: block;
	width: 100%;
}

svg {
	display: block;
	flex-shrink: 0;
	width: 24px;
}

button {
	cursor: pointer;
}

nav {
	align-items: center;
	backdrop-filter: blur(5px);
	background: #0004;
	border: 1px solid #fff4;
	border-radius: 100px;
	display: grid;
	grid-template-columns: 1fr auto auto;
	margin: 1rem auto;
	width: 400px;

	input,
	a,
	button {
		background: transparent;
		border: 0;
		color: white;
		fill: currentcolor;
		font-size: 1rem;
		padding: 0.75rem;
	}

	input {
		padding: 0.5rem 1rem;
	}

	input:focus {
		outline: none;
	}

	input::placeholder {
		color: white;
	}
}

.grid {
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(auto-fill, minmax(96px, 1fr));
	margin: 0 auto;
	max-width: 1300px;
	padding: 4rem 0;
	width: 80vw;
}
@media (max-width: 600px) {
	.grid {
		grid-template-columns: unset;
	}
}
.grid a {
	color: white;
	font-size: 14px;
	font-family: verdana;
  	overflow: hidden;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	text-shadow: 1px 1px 1px black;
  	white-space: nowrap;
}
@media (max-width: 600px) {
	.grid a {
		align-items: center;
		display: grid;
		font-size: 1rem;
		gap: 1rem;
		grid-template-columns: 32px 1fr;
		text-align: left;
	}
}
.grid .icon {
	aspect-ratio: 1;
	display: grid;
	font-size: 1.5em;
	place-items: center;
	text-shadow: none;
}
.grid img,
.grid .icon {
	border-radius: 30%;
	box-shadow: 0 1px 2px #0008;
	margin: 0 auto 0.5em;
	width: 64px;
}
@media (max-width: 600px) {
	.grid img,
	.grid .icon {
		font-size: 10px;
		margin: 0;
		width: 32px;
	}
}
